<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [310, 288]
  Dashing.numColumns = 5

  // display resolution is 1600x900

});
</script>
<% content_for :title do %>Boulter Home<% end %>
<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-view="TwelveHourClock"></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="catchores" data-view="Catchores"></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-view="Countdown" data-title="" data-image="/santa-hat-icon.png" data-width="170" data-end="2015-12-25"></div>
	</li>
	<li data-row="1" data-col="4" data-sizex="2" data-sizey="1">
	  <div data-id="school" data-view="School"></div>
	</li>
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
	  <div data-id="maraudersmap" data-view="Maraudersmap" />
	</li>	
	<li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
	  <div data-id="calendar" data-view="Calendar"></div>
	</li>
	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="forecast" data-view="Forecast" data-widget_title="Weather Forecast"></div>
	</li>
	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="timetohome" data-view="Timetohome"></div>
	</li>	
  </ul>
</div>