// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-countdown {

  background-color: $background-color;

  h2 { font-size: 1.5em;}

  h1 { font-size: 5em;}

  .countdown-time {
    margin-top: 0px;
    color: gold;
  }

  .more-info {
	display: none;
   }

  .before-more-info {
    font-size: 4px;
    position: absolute;
    bottom: 52px;
    left: 0;
    right: 0;
  }
}
