p {
  color: #000;
}

#maraudersmap {
  width: 100%;
  height: 100%;
}

.widget-maraudersmap {
  background: #fff;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
